@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-y: scroll;
    scrollbar-width: none;
    @apply text-[#3A3A49];
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
  }

  html::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
  }
}
